.treeCSS {
    cursor: pointer;
}

.tree li:last-child > .drop {
    margin-left: 12px;
}

ul#renderList {
    display: block;
    list-style-position: inside
}

li.tree {
    list-style: none;
    padding: 12px;
    cursor: pointer;
}

.tree.hide {
    display: none;
}