{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<h1> {{person.name}}</h1>
{% if form %}
{{ wtf.quick_form(form) }}
<br>
{% endif %}
<nav aria-label="...">
    <ul>
        <li>
            {{ person.name }}
        </li>
        <li>
            {{ person.wage }}
        </li>
        <li>
            {{ person.work_position }}
        </li>
        <li>
            {{ person.date_join }}
        </li>
        <li>
            {{ person.chief_name }}
        </li>
        <li>
            <img src="/static/images/personal/{{person.photo_url}}"   height="300">
        </li>
    </ul>
</nav>
{% endblock %}